<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Profil użytkownika</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>


<div>
    <div style="display: inline;font-weight:bold">Nazwa użytkownika:</div>
    <div style="display: inline;" th:text="${user_details.user_name}"></div>
</div>

<div>
    <div style="display: inline;font-weight:bold">Numer telefonu:</div>
    <div sec:authorize="isAuthenticated()" style="display: inline;" th:text="${user_details.phone_number}"></div>
    <div sec:authorize="isAnonymous()" style="display: inline;">Zaloguj się, aby zobaczyć numer telefonu</div>

</div>
<br/>
<form style="display: inline" th:action="@{'/user/user_profile/'+${user_details.user_name}+'/items'}" method="get">
    <button class="btn btn-default" type="submit">Ogłoszenia użytkownika</button>
</form>

<form style="display: inline" th:action="@{'/user/user_profile/'+${user_details.user_name}+'/comments'}" method="get">
    <button class="btn btn-default" type="submit">Komentarze użytkownika</button>
</form>
<form></form><form></form>
<div style="display: inline">
    <span style="font-weight: bold; display: inline">
        Średnia ocen użytkownika:
    </span>
    <div style="display: inline;" th:if="${average_rating} == null">
        <div style="display: inline;" th:text="brak"></div>
    </div>
    <div style="display: inline;" th:unless="${average_rating} == null">
        <div style="display: inline;" th:text="${average_rating}"></div>
    </div>
</div>
<form></form>
<div th:unless="${#httpServletRequest.remoteUser} == ${user_details.user_name}">
    <div sec:authorize="isAuthenticated()">
<span style="font-weight: bold">
    Oceń użytkownika:
</span>
<form style="display: inline;" th:action="@{'/rating/add_rating'}" method="post">
    <input type="hidden" th:name="rating_author" th:value="${#httpServletRequest.remoteUser}"/>
    <input type="hidden" th:name="rating_target" th:value="${user_details.user_name}"/>
    <input type="hidden" th:name="rating_number" th:value="1"/>
    <div style="display: inline;">
        <button class="btn btn-default" type="submit">1</button>
    </div>
</form>
<form style="display: inline;" th:action="@{'/rating/add_rating'}" method="post">
    <input type="hidden" th:name="rating_author" th:value="${#httpServletRequest.remoteUser}"/>
    <input type="hidden" th:name="rating_target" th:value="${user_details.user_name}"/>
    <input type="hidden" th:name="rating_number" th:value="2"/>
    <div style="display: inline;">
        <button class="btn btn-default" type="submit">2</button>
    </div>
</form>
<form style="display: inline;" th:action="@{'/rating/add_rating'}" method="post">
    <input type="hidden" th:name="rating_author" th:value="${#httpServletRequest.remoteUser}"/>
    <input type="hidden" th:name="rating_target" th:value="${user_details.user_name}"/>
    <input type="hidden" th:name="rating_number" th:value="3"/>
    <div style="display: inline;">
        <button class="btn btn-default" type="submit">3</button>
    </div>
</form>
<form style="display: inline;" th:action="@{'/rating/add_rating'}" method="post">
    <input type="hidden" th:name="rating_author" th:value="${#httpServletRequest.remoteUser}"/>
    <input type="hidden" th:name="rating_target" th:value="${user_details.user_name}"/>
    <input type="hidden" th:name="rating_number" th:value="4"/>
    <div style="display: inline;">
        <button class="btn btn-default" type="submit">4</button>
    </div>
</form>
<form style="display: inline;" th:action="@{'/rating/add_rating'}" method="post">
    <input type="hidden" th:name="rating_author" th:value="${#httpServletRequest.remoteUser}"/>
    <input type="hidden" th:name="rating_target" th:value="${user_details.user_name}"/>
    <input type="hidden" th:name="rating_number" th:value="5"/>
    <div style="display: inline;">
        <button class="btn btn-default" type="submit">5</button>
    </div>
</form>
    </div>
</div>
<form></form>
<div th:unless="${#httpServletRequest.remoteUser} == ${user_details.user_name}">
<div sec:authorize="isAuthenticated()">
    <form th:action="@{'/comment/add_comment'}" method="post">
        <input type="hidden" th:name="user_name" th:value="${#httpServletRequest.remoteUser}"/>
        <input type="hidden" th:name="comment_target" th:value="${user_details.user_name}"/>
        Skomentuj użytkownika: <br/><textarea class="form-control" style="width: 20%" rows="2" cols="40" name="comment_content"/><br/>

        <div>
            <button class="btn btn-default" type="submit">Wyślij komentarz</button>
        </div>
    </form>
</div>
<form></form>
<div sec:authorize="isAnonymous()">
    Zaloguj się aby mieć możliwość komentowania oraz oceniania użytkowników.
</div>
</div>

</body>
</html>